body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
.backgroundcolor{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background: linear-gradient(rgba(102, 0, 255, 0.917), rgba(48, 0, 121, 0.928));
    z-index: 2;
    mix-blend-mode: screen;

}
.name{
    display: flex;
    flex-direction: column;
    font-family: poppins, sans-serif;
    font-size: 25px;
    color:rgb(102, 0, 255);
}
#main{
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #cbcbcb;
    z-index: 3;
}
.signup{
    font-size: 14px;
}

.signup a{ 
    color: rgb(102, 0, 255);
    font-weight: 600;
    cursor: pointer;
}
.signup a:hover{
    color:rgb(68, 0, 169);
}

#input{
    margin: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 5px #b3b3b3 inset;
}
#loginButton{ padding: 10px 92px; 
        margin: 20px 10px;
        border-radius: 30px;
        border: none; 
        background: linear-gradient(rgb(102, 0, 255), rgb(48, 0, 121));
        color: white;
    }

#loginButton:hover{
    background: linear-gradient(rgb(86, 0, 214), rgb(34, 0, 85));
}
/* innerSection */

.container2{
    display: none;
    width: 100%;
    height: 100vh;
    position: relative;
}

.inner {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.logo{
    display: flex;
    color: white;
    font-size: 45px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* background: linear-gradient(rgba(102, 0, 255, 0.088), rgba(48, 0, 121, 0.119)); */
    padding: 40px 0px;
    margin-top: 0px;
    /* box-shadow: 1px 1px 5px #d1d1d1; */
    position: relative;
    z-index: 2;
    
}
.sumBalance {
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.829);
    color: rgb(102, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 20px;
    /* box-shadow: 2px 2px 7px #d1d1d1; */
    font-family: poppins, sans-serif;
    z-index: 5;
}

.inputdiv{
    margin: 25px;
    position: absolutes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#input1{
    
    margin: 10px 0px;
    padding: 10px 15px;
    border: none;
    box-shadow: 2px 2px 7px #d1d1d1 inset;
    border-radius: 20px;
    justify-content: center;
}
#button2{
   
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(rgb(102, 0, 255), rgb(48, 0, 121));
    color: white;
}

#button2:hover{background: linear-gradient(rgb(86, 0, 214), rgb(34, 0, 85));}
@media (max-width: 650px){
    .sumBalance{
        margin: 15px 0px;
        box-shadow: 1px 1px 5px #c2c2c2;
    }
    .logo{
        font-size: 25px;
        color: rgb(102, 0, 255);
    }
    .image{
        display: none;
       
    }
}